---
const faqs = [
	{
		title: "¿Qué es Coders en Remoto?",
		description: "Coders en Remoto es una comunidad de Discord para Coders que buscan conectar en remoto. Un sitio para aprender, compartir y ayudarnos mutuamente.Te acompañamos en tu desarrollo profesional y no abandonamos vayas donde vayas!",
	},
	{
		title: "¿Qué objetivo tiene la comunidad?",
		description: "Conectar, compartir aprender y ayudar. Además ayudar a sobrellevar el sentimiento de aislamiento y estancamiento que genera trabajar en remoto.",
	},
	{
		title: "¿Cómo entro?",
		description: "Estamos en Discord. Puedes conectarte instalando la App de Discord o desde tu navegador. Para obtener tu membresía debes indicarlo presionando !Unirme!",
	},
	{
		title: "¿Teneís un código de conducta?",
		description: `Of course, but some components use it and you'll have to edit these, more specifically you ll have to: <br/>
					<ul style="list-style: inside;">
						<li>First remove the package with the command <code>npm unistall @astrojs/alpinejs @types/alpinejs alpinejs</code></li>
						<li>Adjust all components that uses alpine js: <code>faq.astro</code>, <code>themeselector.astro</code>, <code>navbar.astro</code></li>
					</ul>`,
	},
	{
		title: "¿Es gratis?",
		description: "Sí, todo el mundo es bienvenido!",
	},
	{
		title: "¿Quiero contribuir, cómo lo hago?",
		description: "Puedes ir a https://karloscodes.gumroad.com/l/coders-en-remoto y ayudarnos como puedas.",
	},
];
---

<div class="mx-auto max-w-5xl px-6 py-24 sm:py-36 lg:px-8 lg:py-52 dark:bg-stone-950">
	<div class="mx-auto divide-y divide-gray-900/10 dark:divide-gray-100/10">
		<h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900 dark:text-white">Preguntas frecuentes</h2>
		<dl class="mt-10 space-y-6 divide-y divide-gray-900/10 dark:divide-gray-100/10">
			{
				faqs.map((faq) => (
					<div class="pt-6" x-data="{ open: false }">
						<dt>
							<button
								type="button"
								class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white"
								@click="open = !open"
								:x-bind:aria-expanded="open.toString()">
								<span class="text-base font-semibold leading-7">{faq.title}</span>
								<span class="ml-6 flex h-7 items-center">
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="!open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
									</svg>
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"></path>
									</svg>
								</span>
							</button>
						</dt>
						<dd
							x-transition:enter="transition ease-out duration-100"
							x-transition:enter-start="opacity-0 transform scale-90"
							x-transition:enter-end="opacity-100 transform scale-100"
							x-transition:leave="transition ease-in duration-100"
							x-transition:leave-start="opacity-100 transform scale-100"
							x-transition:leave-end="opacity-0 transform scale-90"
							class="mt-2 pr-12"
							id="faq-0"
							x-show="open">
							<span class="text-base leading-7 text-gray-600 dark:text-gray-100">
								<span set:html={faq.description}></span>
							</span>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
