---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section class="flex items-center h-full p-4 md:p-8 lg:p-16">
    <div class="items-center justify-center px-2 mx-auto my-4 w-full md:w-8/12 lg:w-6/12">
      <article class="prose dark:prose-invert prose-md max-w-7xl text-left dark:text-gray-100">
        <h1 class="mb-4 md:mb-6 lg:mb-8 font-bold text-2xl md:text-3xl lg:text-4xl dark:text-gray-100">
          <span class="text-primary">{frontmatter.title}</span>
        </h1>
        <slot />
      </article>
    </div>
</Layout>
